
/.idea

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/

/html-coverage/
/xml-coverage/
/clover.xml
/cobertura.xml
/coverage.php
/coverage.txt
/crap4j.xml
/phpunit.dist.xml
###< phpunit/phpunit ###
